<!-- home.component.html -->
<div class="homepage">
    <div class="homepage-frase">
      <div class="homepage-square">
        <div class="frase">
          <img [src]="quote.imageSrc" alt="aspas" />
          <h2>{{ quote.text }}</h2>
        </div>
        <div>
          <h4>{{ quote.author }}</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="grid">
        <div class="card" *ngFor="let card of cards">
          <img [src]="card.src" />
          <h2>{{ card.title }}</h2>
          <p>{{ card.description }}</p>
          <button type="button">{{ card.actionText }}</button>
        </div>
      </div>
    </div>
  </div>
  