.text-box {
  width: 900px;
}

.small-bar {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #185476;
  height: 6px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.second-header {
  height: 18em;
  padding-top: 5em;
  text-align: center;
  background-color: #18537638;
  color: #185476;
}

h5 {
  display: flex;
  text-align: center;
  margin-top: 10px;
  font-weight: 300;
}

h2 {
  display: flex;
  text-align: center;
  margin-top: 10px;
  font-weight: 900;
}

.icon {
  margin-top: 15px;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  border-radius: 4px;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #13384e;
  margin-top: -20px;
  border-radius: 10px;
  border: transparent;
  margin-left: 35px;
  margin-right: 35px;
}

/* .container {
  border-radius: 4px;
} */

/* .container h1 {
  font-size: 20px;
  font-family: Hammersmith-One;
  text-align: center;
  margin-bottom: 80px;
  color: #004aad;
} */

/* .container p {
  text-align: left;
} */

@media (max-width: 430px) {
  homepage {
    height: 70vh;
    background-color: #e8e8e8;
  }

  .small-bar {
    display: flex;
    text-align: center;
    background-color: #185476;
    height: 6px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .secondHeader {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #18537638;

    h4,
    h1 {
      font-weight: BOLDER;
      font-family: Barlow;
      color: #185476;
    }
  }

  .icon {
    margin-top: 15px;
  }

  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #13384e;
    margin-top: 30px;
    border-radius: 2px;
    border-radius: 2px;
    border: transparent;
  }

  .text-box {
    width: 400px;
  }
}
