nav {
    display: flex;
    justify-content: space-between;
    background-color: #004AAD;
    padding: 0 1em 0 1em;
    height: 100px;
}

.logo, .links {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo img {
    width: 60px;
    margin-right: 0.6em;
}

.logo h2 {
    transition: .4s;
    color: white;

}

.logo:hover > h2 {
    color: #fbfbfb;
}

.links li {
    list-style: none;
}

.links li a:hover {
    color: #072D44;
}

.links a {
    padding: 0 3em 0 3em;
    color: white;
}
