nav {
    background-color: #185376;

    ul {
        margin-right: 0px!important;
        margin-left: auto!important;
    }

    li {
        align-items: inherit;

        a {
            color: white!important;
            opacity: 0.7;
            transition: 0.4s;
        }

        a:hover {
            opacity: 0.9;
            transition: 0.4s;
        }
    }
}

#logo {
    width: 70px;
    height: 80px;
    transition: 0.5s;
}

#logo:hover {
    opacity: 0.5;
    transition: 0.5s;
}

#user-icon {
    width: 30px;
    height: 30px;
    opacity: 1;
    transition: 0.4s;
}

#user-icon:hover {
    opacity: 0.8;
    transition: 0.4s;
}