<div class="imagem-fundo">
  <!--https://www.chartjs.org/docs/latest/-->

  <div class="fundo">

    
    <!--<canvas id="myChart" width="400" height="400"></canvas>-->

    <h2 class="titulo1">• Metas •</h2>
    <div *ngFor="let cartao of cartaoMetas; let i = index" class="cartao">
      <h3 class="titulo2"><!--Preenchimento Atual-->{{cartao.title}}</h3>
      <canvas #chartCanvasMetas class="cartaoMetas"></canvas>
    </div>

  </div>


  <div class="fundo">

    <h2 class="titulo1">• Estatísticas •</h2>
    <div *ngFor="let cartao of cartaoChart; let i = index" class="cartao">
      <h3 class="titulo2"><!--Satisfação Geral-->{{cartao.title2}}</h3>
      <canvas #chartCanvasEstatisticas class="cartaoChart"></canvas>
    </div>

  </div>

</div>



