/* Bloco da tab contendo os gráficos */
.container {
  display: block;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 93vw;
  height: 90vh;
  background-color: #F6F8F8D9;
}

.h {
  padding-top: 0.3em;
  height: 1.7em;
  padding-left: 1vw;
  color: #F6F8F8;
  background-image: linear-gradient(to right, #185376, #5C93AD);
}


.title {
  font-weight: normal;
  position: relative;
  bottom: 1em;
  right: 1em;
  height: 3vh;
  width: 29vw;
  text-align: left;
  padding-top: 0.2em;
  padding-left: 1em;
  color: #F6F8F8;
  background-image: linear-gradient(to right, #185376, #5C93AD, #e5f3f3);

}

.card {
  display: inline-block;
  text-align: center;
  margin-inline-start: 1.8em;
  margin-top: 0.8em;
  height: 39vh;
  width: 29vw;
  padding: 20px;
  background: white;
  border-bottom-right-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

.cardChart{
  margin: auto;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 10em;
  width: 10em;
  background: #e7dc76;
}

