<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="colaboradores.component.css">
    <title>Document</title>
</head>

<body>

    <div class="container-tabela">
        <table class="custom-table">
            <thead>
              <tr>
                <th class="titulos">Usuários</th>
                <th>
                  <input type="text" placeholder="Pesquisar Colaborador">
                </th>
                <th>
                  <input type="button"  name="Adicionar-colaborador" value="Adicionar Colaborador" class="botao-addcolab">
                </th>
              </tr>
            </thead>
          
            <tbody>
              <tr>
                <td>Fulano 1</td>
                <td></td>
                <td>Ver Editar Excluir</td>
              </tr>
              <tr>
                <td>Fulano 2</td>
                <td></td>
                <td>Ver Editar Excluir</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>

</html>