<div class="container rounded-4 shadow p-4 bg-white mx-auto my-5">
  <div class="table-responsive">
    <div class="d-flex justify-content-between py-1">
      <div class="input-group mb-3 mx-2">
        <input type="text" class="form-control" placeholder="Nome do colaborador" aria-label="Nome do colaborador" aria-describedby="button-addon2" [(ngModel)]="nomeFiltrado">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="filtrarUsuarios()">Filtrar</button>
      </div>
      <div class="d-grid gap-2 mb-3 mx-2 w-100">
        <button class="btn btn-primary p-2 flex-grow-1 button-save" type="button" routerLink="/cadastro-colaborador">
          <i class="bi bi-plus"></i>Cadastrar colaborador
        </button>
      </div>
    </div>
    <table class="table table-hover mb-0">
      <caption class="pt-3">Lista de usuários</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">Endereço</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody *ngFor="let usuario of usuariosFiltrados">
        <tr>
          <th scope="row">{{ this.usuario.id }}</th>
          <td>{{ this.usuario.nome }}</td>
          <td>{{ this.usuario.email }}</td>
          <td>{{ this.usuario.telefone }}</td>
          <td>{{ this.usuario.endereco }}</td>
          <td>
            <span class="ps-3" routerLink="/atualizar-colaborador/{{ this.usuario.id }}">
              <i class="bi bi-pencil-square botao-editar"></i>
            </span>
          </td>
          <td>
            <span class="ps-3" data-bs-toggle="modal" data-bs-target="#modalConfirmacaoExclusao" (click)="usuarioSelecionado = { id: usuario.id, nome: usuario.nome }">
              <i class="bi bi-x-circle botao-excluir"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div *ngIf="isResponseOk; else errorTemplate" class="alert alert-success fade-in-up mt-3" role="alert">
      Colaborador removido com sucesso!
  </div>
  <ng-template #errorTemplate>
      <div *ngIf="isResponseError" class="alert alert-danger mt-3 fade-in-up" role="alert">
          Algo deu errado! Não foi possível remover o colaborador.
      </div>
  </ng-template>
</div>

<!-- Modal de confirmação da exclusão do usuário -->
<div class="modal fade" id="modalConfirmacaoExclusao" tabindex="-1" aria-labelledby="modalConfirmacaoExclusaoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalConfirmacaoExclusaoLabel">Atenção!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Tem certeza que deseja excluir o colaborador {{ usuarioSelecionado.nome }}?</h3>
        <p>Obs: o status do usuário será alterado para "inativo".</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary button-save" data-bs-dismiss="modal" (click)="desativarUsuario(usuarioSelecionado.id)">Sim</button>
      </div>
    </div>
  </div>
</div>
