<div class="container rounded-4 shadow p-4 bg-white mx-auto my-5">
    <div class="mb-3">
        <h2>Cadastrar Colaborador</h2>
    </div>
    <form [formGroup]="usuarioFormGroup" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-floating pb-3 container-info">
                <input type="text" class="form-control" id="nome" formControlName="nome" required>
                <label class="ms-3" for="nome">Nome</label>
            </div>
            <div class="form-floating pb-3 container-info">
                <input type="text" class="form-control" id="email" formControlName="email" required>
                <label class="ms-3" for="nome">E-mail</label>
            </div>
            <div class="form-floating pb-3 container-info">
                <input type="text" class="form-control" id="telefone" formControlName="telefone" required>
                <label class="ms-3" for="telefone">Telefone</label>
            </div>
            <div class="form-floating pb-3 container-info">
                <input type="text" class="form-control" id="endereco" formControlName="endereco" required>
                <label class="ms-3" for="endereco">Endereço</label>
            </div>
            <div class="pb-3">
                <select class="form-select form-control" id="funcao" formControlName="funcao" required>
                    <option value="colaborador">Colaborador</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>
            <div class="form-floating pb-3 container-info">
                <input type="text" class="form-control" id="senha" formControlName="senha" required>
                <label class="ms-3" for="senha">Senha temporária</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary button-save">Cadastrar</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div *ngIf="isResponseOk; else errorTemplate" class="alert alert-success fade-in-up mt-3" role="alert">
        Cadastro de colaborador realizado com sucesso!
    </div>
    <ng-template #errorTemplate>
        <div *ngIf="isResponseError" class="alert alert-danger mt-3 fade-in-up" role="alert">
            Algo deu errado! Não foi possível cadastrar o colaborador.
        </div>
    </ng-template>
</div>
