.body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.titulo {
  text-align: center;
  padding: 10px;
  color: rgb(43, 43, 43);
}

.formulario {
  padding: 50px;
  max-width: auto;
}

.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
}

.div-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  background-color: white;
  width: 35%;
  height: max-content;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 20px, 20px;
  margin-top: 40px;
}

.l-form {
  display: block;
  margin-bottom: 5px;
}

.i-form {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  border-color: rgba(206, 206, 206, 0.753);
}

.i-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 10px;
}

.wrapper{
display: flex;
align-items: center;
justify-content: center;
margin: 10px;
}

.botao-cadastro {
    border-color: rgb(32, 78, 204);
    border-radius: 10px;
    width: 30%;
    background-color:rgb(32, 78, 204);
    color: white;
    padding: 5px;
}

.botao-cadastro:hover {
  background-color: rgb(16, 80, 255);
  border-color:  rgb(16, 80, 255);
  transition: 1s;

}


.error {
  color: red;
  font-size: 12px;
}
