<div class="page">
  <form
    class="form-login"
    (ngSubmit)="submit()"
    [formGroup]="userLoginForm"
    #formDir="ngForm"
  >
    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="Logo MindPlus" />
    </div>
    <div
      [ngClass]="{
        'validation-error': userLoginForm.invalid && userLoginForm.touched
      }"
    >
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
        autofocus="true"
        formControlName="email"
        required
        autocomplete="on"
        (keydown.enter)="submit()"
      />
    </div>
    <div>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Senha"
        autofocus="true"
        formControlName="password"
        required
        autocomplete="on"
        (keydown.enter)="submit()"
      />
    </div>
    <div class="keep-logged" (click)="toggleCheckbox()">
      <input
        type="checkbox"
        id="keepLogged"
        name="keepLogged"
        formControlName="keepLogged"
      />Mantenha-me logado
    </div>
    <button type="button" class="btn-entrar" (click)="submit()">Entrar</button>
  </form>
</div>
