.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(156,205,219);
    background: linear-gradient(0deg, rgba(156,205,219,1) 0%, rgba(87,144,171,1) 50%, rgba(6,68,105,1) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.form-login {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    background-color: #5790AB;
}

.logo {
    display: flex;
    place-content: center;
}

.logo img {
    max-width: 50%;
    margin: 30px;
}

.form-login input[type="email"], input[type="password"] {
    width: 100%;
    height: 40px;
    margin: 10px 0 0px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all linear 160ms;
    outline: none;
    z-index: 1;
}

.form-login input:focus {
    border: 1px solid #064469;
}

.invalid-message {
    height: 22px;
    width: 100%;
    margin-top: -4px;
    padding: 7px 3px 3px 3px;
    background-color: rgb(231, 179, 179);
    font-size: 10px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
}

.keep-logged {
    display: flex;
    place-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    margin: 20px 0;
    color: #D0D7E1;
    cursor: pointer;
    transition: 0.4s;
}

.keep-logged:hover {
    color: white;
    transition: 0.4s;
}

.keep-logged input[type="checkbox"] {
    margin: 0 10px 3px 0;
    cursor: pointer;
}

.btn-entrar {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background-color: #064469;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    font-family: Hammersmith-One;
    color: #D0D7E1;
    font-size: 16px;
    font-weight: 400;
    place-content: center;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
}

.btn-entrar:hover {
    transition: 0.4s;
    background-color: #072D44;
    color: white;
}
  