.usuario-foto {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    border-radius: 90px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.container-info {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 15px;
  flex-basis: 40%;

  label {
    text-align: left;
  }
}

.button-save {
  background-color: #185376;
  border-color: #185376;
}

.button-save:hover {
  background-color: #214153;
  border-color: #214153;
}
