@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: Barlow;
    src: url(assets/fonts/Barlow-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: Barlow;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: .4s;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}
