@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@font-face {
    font-family: Barlow;
    src: url(assets/fonts/Barlow-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: Barlow;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: .4s;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.button-save {
    background-color: #185376;
    border-color: #185376;
    transition: .4s;
}

.button-save:hover {
    background-color: #214153;
    border-color: #214153;
    transition: .4s;
}
