footer {
    border-top: 1px solid #5790AB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    background-color: #5790AB;
}

footer h3 {
    margin-bottom: 1.2em;
}

footer span {
    font-weight: bold;
    color: #5790AB;
}
