footer {
    position: absolute;
    border-top: 1px solid #185376;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    background-color: #185376;
    color: white;
    bottom: 0;


    p {
        padding: 5px;
    }
}