footer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #185376;
    color: white;

    div {
        margin-top: 2rem;
        padding: 5px;

        b {
            margin-top: 1rem;
            padding: 5px;
        }
    }    
}

