
.imagem-fundo{
  background-image: url('https://images.pexels.com/photos/7793699/pexels-photo-7793699.jpeg');
  background-size: cover;
  background-attachment: fixed;
  /*height: 80vh;*/
}


.tab > #av{
  padding-left: 1vw;
  display: flex;
  background-image: linear-gradient(to right, #185376 , #5C93AD);
  align-items: center;
  position: sticky;
  right: 100vw;
  width: 55vw;
  color: #F6F8F8;
}

/* Style da tab */
.tab {
  display: flex;
  justify-content: flex-end;
}

/* Style buttons (abre o tab content) */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #5C93AD;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #00ff0d;
}

/* Style da tab content */
.tabcontent {
  padding: 6px 12px;
  border-top: none;
  overflow: hidden;
}

/* Bloco da tab contendo as avaliações */
.formulario{ 
  background-color: #F6F8F8;
  margin-left: auto; margin-right: auto; 
  max-width: 90vw; 
  overflow: hidden;
}


h4{
  background-image: linear-gradient(to right, #185376, #5C93AD, #e5f3f3);
  color: #F6F8F8;
  padding-left: 0.5em;
}



.satisfacao{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  right: 8.1%; top: 31%;
}

.satisfacao p{
  padding-inline: 1.1em;
  font-size: small;
  font-weight: bold;
  text-align: center;
}



.radio{
  display: inline-flex; /* deixa as colunas em linhas*/
  margin-inline: 2.2em;
  flex-wrap: nowrap;

}

.pergunta{
  margin-right: 8em;
  padding-left: 1em;
  text-wrap: wrap;
  width: 50%;
  
}
