<div class="tabs">
  <div class="tab" id="satisfacaoTrabalho">Satisfação no Trabalho</div>
  <div class="tab" id="satisfacaoPessoal">Satisfação Pessoal</div>
  <div class="tab" id="relacoesInterpessoais">Relações Interpessoais</div>
</div>

<div class="avaliacoes">
  <div class="avaliacao" id="avaliacaoSatisfacaoTrabalho">
    <!-- Conteúdo da avaliação de Satisfação no Trabalho -->
    Avaliação de Satisfação no Trabalho...
  </div>
  <div class="avaliacao" id="avaliacaoSatisfacaoPessoal">
    <!-- Conteúdo da avaliação de Satisfação Pessoal -->
    Avaliação de Satisfação Pessoal...
  </div>
  <div class="avaliacao" id="avaliacaoRelacoesInterpessoais">
    <!-- Conteúdo da avaliação de Relações Interpessoais -->
    Avaliação de Relações Interpessoais...
  </div>
</div>