.imagem-fundo {
  background-image: url('https://images.pexels.com/photos/7793699/pexels-photo-7793699.jpeg');
  background-size: cover;
  background-attachment: fixed;
  /*height: 80vh;*/
}

/* Style da tab */
.tab{
  display: inline-flex;
  overflow: hidden;
  width: 90vw;
  margin-top: 2em;
  margin-bottom: -0.5em ;
}

.tab #av{
  align-items: center;
  min-width: 40vw;
  padding-top: 0.2em;
  padding-left: 0.5em;
  height: 7vh;
  background-image: linear-gradient(to right, #185376, #5C93AD);
  background-size: cover;
  color: #F6F8F8;
}

.tab .tablinks{
  align-items: center;
  height: 7vh;
  padding-inline: 2em;
  margin-inline: 0.2em;
  background-size: cover;
  
}

.tablinks{

}

/* Style buttons (abre o tab content) */
.tab button {
  background: #F6F8F8;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  padding-inline: 1em;
  display: inline-flex;
}

.tab button:hover {
  transition: 0.5s;
  background-color: #c0dce9;
  font-weight: bold;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #00ff0d;
}



.tab>#av {
}

.cabeçalho1{
  
}


table{
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

/* Bloco da tab contendo as avaliações */
.tabcontent{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px;
  background: #F6F8F8;
}

/* Título das sessões da avaliação */
.linha-t {
  background-image: linear-gradient(to right, #185376, #5C93AD, #e5f3f3);
  color: #F6F8F8;
}

.linha-t h4{
  padding-top: 0.3em;
  padding-left: 0.5em;
}

.cabeçalho2{
  display: inline;
  max-width: 90vw;
}

/* Título da avaliação e ícones */
.linha1 {
  background: #F6F8F8;
  h3 {
    padding-top: 0.5em;
    padding-left: 0.5em;
    color: #185376;
  }
  i{
    display: block;
    position: relative;
    float: right;
    right: 2em;
    font-size: x-large;
    padding-inline: 0.9em;
  }
}



/* Descrição da avaliação e satisfação */
.linha2 {
  .descricao {
    color: #185376;
    padding-left: 1em;
    font-weight: normal;
    word-wrap: break-word;
  }

  .satisfacao p{
    display: inline-flex;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin-bottom: -0.1em;
    padding-inline: 0.5em;
    padding-bottom: 0.5em;
  }
}


/* Perguntas */
.pergunta{
  padding-top: 0.8em;
  padding-left: 1em;
  text-wrap: nowrap;
}


/* Radio buttons */
.radioOpcao {
  cursor: pointer;
}

.radio {
  position: relative;
  padding-top: 1.1em;
  margin-inline: 1.7em;
}