.imagem-fundo {
  background-image: url('https://images.pexels.com/photos/7793699/pexels-photo-7793699.jpeg');
  background-size: cover;
  background-attachment: fixed;
  /*height: 80vh;*/
}

.tab>#av {
  margin-left: 2.2em;
  padding-left: 0.5em;
  display: inline-flex;
  align-items: center;
  min-height: 6vh;
  min-width: 51.2vw;
  background-image: linear-gradient(to right, #185376, #5C93AD);
  color: #F6F8F8;
}

/* Style da tab */
.tab {
  margin-top: 2em;
  margin-bottom: -0.5em;
  display: inline-flex;
  justify-content: flex-end;
}

/* Style buttons (abre o tab content) */
.tab button {
  background: #F6F8F8;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  padding-inline: 1em;
  
}

.tab button:hover {
  transition: 0.5s;
  background-color: #c0dce9;
  height: 6vh;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #00ff0d;
}

/* Style da tab content */
.tabcontent {
  overflow: hidden;
}

/* Bloco da tab contendo as avaliações */
table{
  background: #F6F8F8;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  margin-bottom: 2em;

}


/* Título das sessões da avaliação */
.linha-t {
  background-image: linear-gradient(to right, #185376, #5C93AD, #e5f3f3);
  color: #F6F8F8;
}

.linha-t h4{
  padding-left: 0.5em;
}

/* Título da avaliação e ícones */
.linha1 {
  
  h3 {
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  i{
    position: relative;
    top: 0.5em;
    font-size: x-large;
    padding-inline: 0.9em;
  }
}

/* Descrição da avaliação e satisfação */
.linha2 {
  .descricao {
    padding-left: 1em;
    font-weight: normal;
    word-wrap: break-word;
  }

  .satisfacao p{
    display: inline-flex;
    padding-inline: 0.5em;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin-bottom: -0.1em;
  }
}


/* Perguntas */
.pergunta p {
  padding-left: 1em;
  text-wrap: nowrap;
  font-size: small;
}

/* Radio buttons */
.radioOpcao {
  cursor: pointer;
}

.radio {
  position: relative;
  margin-inline: 1.7em;
}